<h2><%= title %></h2>
<div class="row">
    <% photos.limit(4).each do |photo| %>
        <div class="col-sm-3">
            <%= image_tag photo.image_url, class: 'img-responsive' %>
        </div>
    <% end %>
</div>
