<div class="tags">
  <div class="section">
    <h2><%= @title %></h2>

    <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-sm-3">
          <%= link_to image_tag(photo.image_url, class: 'img-responsive'), photo_path(photo) %>
        </div>
      <% end %>
    </div>

  </div>
</div>
