


.menu {
  padding-top: 10px;

  .profile {
    margin-bottom: 20px;

    img.wiggley {
      max-width: 70%;
      display: block;
      margin: auto;
      margin-bottom: 20px;
      border: 10px solid white;
      box-shadow: 0 5px 10px rgba(0,0,0,0.3);
      transition: all 0.2s ease;


      &:hover {
        transform: rotate(3deg);
      }
    }

    h1 {
      text-align: center;
      font-size: 25px;
      font-weight: normal;
      font-family: $font;
      text-transform: uppercase;

      a {
        color: #484848;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .bio {
      color: #999;
      text-align: center;
      text-transform: uppercase;
      font-family: $font;
    }
  }

  .links {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      text-align: center;
    }

    a {
      color: #484848;
      text-transform: uppercase;
      font-family: $font;

      &:hover {
        text-decoration: underline;
        color: #ff9bd6;
      }
    }
  }
}

h2 {
  font-family: $font;
  color: #484848;
  font-size: 18px;
  text-transform: uppercase;
  a {
    color: #484848;

    &:hover {
      text-decoration: underline;
      color: #ff9bd6;
    }
  }
}

.grid {
  width: 250px;
  .cell {
    width: 80px;
    display: inline-block;
  }
}

.section {
  margin-bottom: 80px;
}

.more {
  font-family: $font;
  text-transform: uppercase;
}
